.form-div {
    width: 35vw;
    margin-top: 10vh;
    border: 1px solid black;
    border-radius: 10px;
}

.center{
  text-align: center;
  align-self: center;
}

.each-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.drill-inputs{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 1vh 0;
}

.titles{
  display: inline;
}

.drill-inputs2{
  width: 60%;
}

.drills3{
  width: 40%;
}